@import (less) "../../vendor/material-design-icon/3.8.95/css/materialdesignicons.css";

@font-face {
	font-family: 'Nunito Sans';
	src: url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
	font-weight: 500;
	font-style: normal;
}
* {
    font-family: 'Nunito Sans', sans-serif;
}
.wrapper {
    height: auto;
    min-height: 100vh;
    padding: 20px 0px;
    position: relative;
    background: #0074B9;
    // background: 
    //     linear-gradient(45deg, rgb(158, 207, 82), transparent),
    //     repeating-linear-gradient(
    //         45deg, 
    //         rgb(158, 207, 82) 0%, 
    //         rgb(158, 207, 82) 5%, 
    //         transparent 5%, 
    //         transparent 10%,
    //         rgb(221, 51, 43) 10%, 
    //         rgb(221, 51, 43) 11%, 
    //         transparent 11%, 
    //         transparent 13%
    //     ),
    //     rgb(0, 116, 185) repeating-linear-gradient(
    //         -45deg, 
    //         rgb(158, 207, 82, 0.2) 0%, 
    //         rgb(158, 207, 82, 0.2) 5%, 
    //         transparent 5%, 
    //         transparent 10%
    //     );
    .login {
        width: 95%;
        max-width: 800px;
        height: 500px;
        margin: 0px auto;
        background-color: white;
        border-radius: 10px;
        @media screen and (max-width:767px) {
            max-width: 350px;
        }
        .left-box {
            padding: 20px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            margin: auto;
            height: 100%;
            color: #0074B9;
            @media screen and (max-width:767px) {
                border-radius: 10px;
                &-middle {
                    padding-top: 0px !important;
                    max-width: 100%;
                    img {
                        opacity: 0.1;
                    }
                }
            }
            &-middle {
                img {
                    margin: auto;
                    vertical-align:middle;
                    width: 300px;
                }
            }
        }
        .right-box {
            height: inherit;
            padding: 30px;
            min-width: 350px;
            @media screen and (max-width:767px) {
                min-width: 300px;
                position: absolute;
                // color: #fff !important;
                .text-muted {
                    // color: #F5F6FF !important;
                }
            }
        }
    }
}