<div class="wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="header">
                <div class="header-title">
                    <span>
                        List of Transaction
                    </span>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:;">Master Data</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List of Transaction</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="list-transaction" class="card card-table">
                    <div class="card-body table-responsive">
                        <table id="table-list-transaction" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th>Customer</th>
                                    <th>Package</th>
                                    <th>Date</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {#transaction}
                                    <tr>
                                        <td class="align-middle">{@idx} {@math key="{$idx}" method="add" operand="1"/} {/idx}</td>
                                        <td class="align-middle text-nowrap">{customer_name}</td>
                                        <td class="align-middle text-nowrap">{package_name}</td>
                                        <td class="align-middle text-nowrap">{transaction_date_text}</td>
                                        <td class="align-middle text-center text-nowrap">
                                            <a href="javascript:;" class="btn btn-light text-primary btn-sm mr-1" title="Coming Soon ..." disabled>
                                                <i class="mdi mdi-pencil"></i>
                                            </a>
                                            <a href="javascript:;" data-id="{id}" aria-action="delete-transaction" class="btn btn-light text-danger btn-sm mr-1" title="Delete Transaction">
                                                <i class="mdi mdi-trash-can-outline"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {/transaction}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <span container="form-subject">Add</span> Transaction
                            <div class="float-right">
                                <a class="text-danger" href="javascript:;" aria-action="cancel-edit-transaction" style="display: none;">
                                    <i class="mdi mdi-close"></i>
                                </a>
                            </div>
                        </h5>
                        <h6 class="card-subtitle text-muted">Form transaction data of provider</h6>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" id="form-transaction">
                            <div id="form-transaction-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formTransactionErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Customer</label>
                                <select name="customer_id" class="form-control" style="width:100%">
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Package</label>
                                <select name="package_id" class="form-control" style="width:100%" data-live-search="true">
                                    {#packages}
                                        <option value="{id}">{provider_name} | {package_name}</option>
                                    {/packages}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Transaction Date</label>
                                <input type="date" name="transaction_date" class="form-control mb-2" placeholder="Enter transaction date">
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block" id="submit-transaction">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>