<div class="wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="header">
                <div class="header-title">
                    <span>
                        List of Packages
                    </span>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:;">Master Data</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List of Packages</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="list-packages" class="card card-table">
                    <div class="card-body table-responsive">
                        <table id="table-list-packages" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th>Provider</th>
                                    <th>Package Name</th>
                                    <th>Purchase Price</th>
                                    <th>Sell Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {#packages}
                                    <tr>
                                        <td class="align-middle">{@idx} {@math key="{$idx}" method="add" operand="1"/} {/idx}</td>
                                        <td class="align-middle text-nowrap">{provider_name}</td>
                                        <td class="align-middle text-nowrap">{package_name}</td>
                                        <td class="align-middle text-nowrap">{purchase}</td>
                                        <td class="align-middle text-nowrap">{sell}</td>
                                        <td class="align-middle text-center text-nowrap">
                                            <a href="javascript:;" data-id="{id}" aria-action="edit-packages" class="btn btn-light text-primary btn-sm mr-1" title="Edit Package">
                                                <i class="mdi mdi-pencil"></i>
                                            </a>
                                            <a href="javascript:;" data-id="{id}" aria-action="delete-packages" class="btn btn-light text-danger btn-sm mr-1" title="Delete Package">
                                                <i class="mdi mdi-trash-can-outline"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {/packages}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <span container="form-subject">Add</span> Package
                            <div class="float-right">
                                <a class="text-danger" href="javascript:;" aria-action="cancel-edit-packages" style="display: none;">
                                    <i class="mdi mdi-close"></i>
                                </a>
                            </div>
                        </h5>
                        <h6 class="card-subtitle text-muted">Form package data of provider</h6>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" id="form-packages">
                            <div id="form-packages-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formPackagesErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Package Name</label>
                                <input type="text" name="package_name" class="form-control mb-2" placeholder="Enter package name">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Provider</label>
                                <select name="provider_id" class="form-control" style="width:100%" data-live-search="true">
                                    {#provider}
                                        <option value="{id}">{provider_name}</option>
                                    {/provider}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Purchase Price</label>
                                <input type="number" name="purchase" class="form-control mb-2" placeholder="Enter purchase price">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Sell Price</label>
                                <input type="number" name="sell" class="form-control mb-2" placeholder="Enter sell price">
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block" id="submit-packages">Submit</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>