<div class="wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="header">
                <div class="header-title">
                    <span>
                        List of Account
                    </span>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:;">Master Data</a></li>
                        <li class="breadcrumb-item active" aria-current="page">List of Account</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="list-account" class="card card-table">
                    <div class="card-body table-responsive">
                        <table id="table-list-account" class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th>Username</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Roles</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {#account}
                                    <tr>
                                        <td class="align-middle">{@idx} {@math key="{$idx}" method="add" operand="1"/} {/idx}</td>
                                        <td class="align-middle text-nowrap">{username}</td>
                                        <td class="align-middle text-nowrap">{name}</td>
                                        <td class="align-middle text-nowrap">{address}</td>
                                        <td class="align-middle text-nowrap">
                                            {#role}
                                                {@eq key=rolename value="super"}
                                                    <span class="badge badge-success">{roledesc}</span> 
                                                {:else}
                                                    <span class="badge badge-primary">{roledesc}</span> 
                                                {/eq}
                                            {:else}
                                                <span class="badge">Not Assigned</span>
                                            {/role}
                                        </td>
                                        <td class="align-middle text-center text-nowrap">
                                            <a href="#/account/{username}" data-id="{username}" aria-action="edit-account" class="btn btn-light text-primary btn-sm mr-1" title="Edit Account">
                                                <i class="mdi mdi-pencil"></i>
                                            </a>
                                            <a href="javascript:;" data-id="{username}" aria-action="delete-account" class="btn btn-light text-danger btn-sm mr-1" title="Delete Account">
                                                <i class="mdi mdi-trash-can-outline"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {/account}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            <span container="form-subject">Add</span> Account
                            <div class="float-right">
                                <a class="text-danger" href="javascript:;" aria-action="cancel-edit-account" style="display: none;">
                                    <i class="mdi mdi-close"></i>
                                </a>
                            </div>
                        </h5>
                        <h6 class="card-subtitle text-muted">Form account data</h6>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" id="form-account" enctype="multipart/form-data">
                            <div id="form-account-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formAccountErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Display Name</label>
                                <input type="text" name="name" class="form-control mb-1" placeholder="Enter display name">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Roles</label>
                                <select name="roles" class="form-control" style="width:100%" data-live-search="true" multiple>
                                    {#roles}
                                        <option value="{rolename}">{roledesc}</option>
                                    {/roles}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Username</label>
                                <input type="text" name="username" class="form-control mb-1" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Password</label>
                                <input type="password" name="password" class="form-control mb-1" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Re-password</label>
                                <input type="password" name="repassword" class="form-control mb-1" placeholder="Enter repassword">
                            </div>
                            <button type="submit" class="btn btn-secondary btn-block" id="submit-account">Submit</button>
                        </form>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>