<div class="wrapper">
    <div class="content">
        <div class="container-fluid">
            <div class="header">
                <div class="header-title">
                    <span>Account Detail</span>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:;">Master Data</a></li>
                        <li class="breadcrumb-item"><a href="#/account">Account</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Detail</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row account">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Display Picture
                            <h6 class="card-subtitle text-muted">Detail Information of Display Picture</h6>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="profile-picture">
                            {?account.photo}
                                <img class="img-fluid" src="{baseUrl}account/picture/{account.username}?{token}" alt="Display Picture of {account.name}">
                            {:else}
                                <img src="./assets/img/avatar_female.png" alt="Photo profile">
                            {/account.photo}
                        </div>
                        <div class="mt-3">
                            <form autocomplete="off" id="form-picture" enctype="multipart/form-data">
                                <div id="form-picture-card-error" class="card-error">
                                    <div class="alert alert-danger" role="alert" style="display: none;">
                                        <div id="formPictureErrorMessage"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="file" name="picture" class="form-control mb-1" placeholder="Enter image">
                                </div>
                                <button type="submit" class="btn btn-secondary btn-block" id="submit-picture">Submit Display Picture</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8" id="box-data">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Personal Data
                            <h6 class="card-subtitle text-muted">Update Current Account's Personal Data</h6>
                        </h5>
                    </div>
                    <div class="card-body table-responsive">
                        <form autocomplete="off" id="form-personal-data">
                            <div id="form-personal-data-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formPersonalDataErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Display Name</label>
                                <input type="text" name="name" class="form-control mb-1" placeholder="Enter display name" value="{account.name}">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Address</label>
                                <textarea name="address" class="form-control" rows="3" placeholder="Enter address">{account.address}</textarea>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary btn-sm" id="submit-personal-data">Submit Personal Data</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Roles Assignment
                            <h6 class="card-subtitle text-muted">Assign roles to this account</h6>
                        </h5>
                    </div>
                    <div class="card-body table-responsive">
                        <form autocomplete="off" id="form-roles">
                            <div id="form-roles-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formRolesErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <select name="roles" class="form-control" style="width:100%" data-live-search="true" multiple>
                                    {#roles}
                                        <option value="{rolename}" 
                                            {#account.roles}
                                                {@eq key=rolename value="{account_rolename}"}selected{/eq}
                                            {/account.roles}>{roledesc}</option>
                                    {/roles}
                                </select>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary btn-sm" id="submit-roles">Assign Roles</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Reset Password
                            <h6 class="card-subtitle text-muted">Reset Current Account's Password</h6>
                        </h5>
                    </div>
                    <div class="card-body">
                        <form autocomplete="off" id="form-reset-password">
                            <div id="form-reset-password-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formResetPasswordErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">New Password</label>
                                <input type="password" name="password" class="form-control mb-1" placeholder="Enter new password">
                            </div>
                            <div class="form-group">
                                <label class="setMainFonts">Repeat New Password</label>
                                <input type="password" name="repassword" class="form-control mb-1" placeholder="Re-enter new password">
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary btn-sm" id="submit-reset-password">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">
                            Reset Username
                            <h6 class="card-subtitle text-muted">Reset Current Account's Username</h6>
                        </h5>
                    </div>
                    <div class="card-body card-table">
                        <form autocomplete="off" id="form-reset-username">
                            <div id="form-reset-username-card-error" class="card-error">
                                <div class="alert alert-danger" role="alert" style="display: none;">
                                    <div id="formResetUsernameErrorMessage"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="username" class="form-control mb-1" placeholder="Enter username" value="{account.username}">
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-secondary btn-sm" id="submit-reset-username">Reset Username</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>